body{
    box-sizing: border-box;
}



.form-container{
    display: flex;
    justify-content: center;
    background-color: rgb(58, 13, 100);
}

.form-wrapper{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 20px;
    /* border: white 2px solid; */
    background-color: #fff;
    border-radius: 5px;

}

input{
    width: 280px;
    height: 50px;
    border-radius: 10px;
    text-indent: 5px;
    border: #797979 2px solid;
}

.check{
    display: flex;
    align-items: center;
    gap: 10px
}
.check>input{
    width: 25px;
}
.check>label{
    color: black;
}

button{
    border-radius: 5px;
    border: none;
    width: 100px;
    /* margin: auto 10px; */
    height: 50px;
    font-size: 20px;
    background-color: rgb(94, 4, 179);
    color: #fff;
    
}